#avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.btn-edit-prev, .btn-save-prev {
    width: 15px;
    height: 15px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    height: 100px;
    width: 150px;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-item a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personal {
    width: auto;
}

.info-row {
    margin: 5px;
}

.info-title {
    display: inline-block;
    width: 100px;
}

.info-value {
    color: black;
}

.info-value:enabled {
    background-color: azure;
    border-color: lightskyblue;
}

.member-packs-list, .member-data {
    border: 1px solid black;
    margin: 5px;
}

.member-info {
    height: 100px;
    display: flex;
    align-items: center;

}

.member-data .member-info {
    background-color: lightslategrey;
}

.member-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.btn-expand, .btn-collapse {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

.member-packs {
    border: 1px solid black;
    margin: 10px;
}

.member-pack {
    display: flex;
    align-items: center;
    background-color: lightsteelblue;
}

.pack-tags p{
    font-size: 16px;
    margin: 3px;
}

.pack-chars {
    display: flex;
    align-items: center;
    padding: 10px;
}

.pack-char {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.pack-force {
    font-weight: 700;
    margin: 10px;
}

.tags-filter {
    display: flex;
    justify-content: space-between;
}

.tags-filter p {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

.checked {
    background-color: lightskyblue;
}

body {
    max-width: 50%;
    margin: auto;
}

.pack-info {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}
